body {
    background: #24aecd;
}

.portrait {
    margin: 0 auto;
    height: 64px;
    width: 64px;
}

.health {
    margin: 0 auto;
    width: 64px;
    height: 5px;
}

.largex2 {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.largex15 {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.skeleton.slash {
    background: url('../graphics/lpc/png/slash/WEAPON_shield_cutout_body.png') left center,
    url('../graphics/lpc/png/slash/BODY_skeleton.png') left center,
    url('../graphics/lpc/png/slash/WEAPON_dagger.png') left center;
}

.human.slash {
    background: url('../graphics/lpc/png/slash/HEAD_leather_armor_hat.png') left center,
    url('../graphics/lpc/png/slash/BELT_leather.png') left center,
    url('../graphics/lpc/png/slash/FEET_shoes_brown.png') left center,
    url('../graphics/lpc/png/slash/LEGS_pants_greenish.png') left center,
    url('../graphics/lpc/png/slash/TORSO_leather_armor_bracers.png') left center,
    url('../graphics/lpc/png/slash/TORSO_leather_armor_shoulders.png') left center,
    url('../graphics/lpc/png/slash/TORSO_leather_armor_torso.png') left center,
    url('../graphics/lpc/png/slash/TORSO_leather_armor_shirt_white.png') left center,
    url('../graphics/lpc/png/slash/WEAPON_dagger.png') left center,
    url('../graphics/lpc/png/slash/BODY_human.png') left center;
}

.slash.right {
    animation: play_slash_right .4s steps(6);
}

.slash.left {
    animation: play_slash_left .4s steps(6);
}

.skeleton.bow {
    background: url('../graphics/lpc/png/bow/WEAPON_bow.png') left center,
    url('../graphics/lpc/png/bow/WEAPON_arrow.png') left center,
    url('../graphics/lpc/png/bow/BODY_skeleton.png') left center;
}

.human.bow {
    background: url('../graphics/lpc/png/bow/HEAD_leather_armor_hat.png') left center,
    url('../graphics/lpc/png/bow/BELT_leather.png') left center,
    url('../graphics/lpc/png/bow/FEET_shoes_brown.png') left center,
    url('../graphics/lpc/png/bow/LEGS_pants_greenish.png') left center,
    url('../graphics/lpc/png/bow/TORSO_leather_armor_bracers.png') left center,
    url('../graphics/lpc/png/bow/TORSO_leather_armor_shoulders.png') left center,
    url('../graphics/lpc/png/bow/TORSO_leather_armor_torso.png') left center,
    url('../graphics/lpc/png/bow/TORSO_leather_armor_shirt_white.png') left center,
    url('../graphics/lpc/png/bow/WEAPON_bow.png') left center,
    url('../graphics/lpc/png/bow/WEAPON_arrow.png') left center,
    url('../graphics/lpc/png/bow/BODY_animation.png') left center;
}

.bow.left {
    animation: play_bow_left .8s steps(13);
}

.bow.right {
    animation: play_bow_right .8s steps(13);
}

.skeleton.stand {
    background: url('../graphics/lpc/png/walkcycle/WEAPON_shield_cutout_body.png') left center,
    url('../graphics/lpc/png/walkcycle/BODY_skeleton.png') left center;
}

.human.stand {
    background: url('../graphics/lpc/png/walkcycle/HEAD_leather_armor_hat.png') left center,
    url('../graphics/lpc/png/walkcycle/BELT_leather.png') left center,
    url('../graphics/lpc/png/walkcycle/FEET_shoes_brown.png') left center,
    url('../graphics/lpc/png/walkcycle/LEGS_pants_greenish.png') left center,
    url('../graphics/lpc/png/walkcycle/TORSO_leather_armor_bracers.png') left center,
    url('../graphics/lpc/png/walkcycle/TORSO_leather_armor_shoulders.png') left center,
    url('../graphics/lpc/png/walkcycle/TORSO_leather_armor_torso.png') left center,
    url('../graphics/lpc/png/walkcycle/TORSO_leather_armor_shirt_white.png') left center,
    url('../graphics/lpc/png/walkcycle/BODY_male.png') left center;
}

.stand.left {
    background-position: 0px 192px;
}

.stand.right {
    background-position: 0px 64px;
}

.skeleton.hurt {
    background: url('../graphics/lpc/png/hurt/BODY_skeleton.png') left center;;
    animation: play_hurt .8s steps(6);
}

.human.hurt {
    background: url('../graphics/lpc/png/hurt/HEAD_leather_armor_hat.png') left center,
    url('../graphics/lpc/png/hurt/BELT_leather.png') left center,
    url('../graphics/lpc/png/hurt/FEET_shoes_brown.png') left center,
    url('../graphics/lpc/png/hurt/LEGS_pants_greenish.png') left center,
    url('../graphics/lpc/png/hurt/TORSO_leather_armor_bracers.png') left center,
    url('../graphics/lpc/png/hurt/TORSO_leather_armor_shoulders.png') left center,
    url('../graphics/lpc/png/hurt/TORSO_leather_armor_torso.png') left center,
    url('../graphics/lpc/png/hurt/TORSO_leather_armor_shirt_white.png') left center,
    url('../graphics/lpc/png/hurt/BODY_male.png') left center;
    animation: play_hurt .8s steps(6);
}

@keyframes play_hurt {
    from {
        background-position: 384px 0px;
    }
    to {
        background-position: 0px 0px;
    }
}

@keyframes play_bow_right {
    from {
        background-position: 832px 64px;
    }
    to {
        background-position: 0px 64px;
    }
}

@keyframes play_slash_left {
    from {
        background-position: 384px 192px;
    }
    to {
        background-position: 0px 192px;
    }
}

@keyframes play_slash_right {
    from {
        background-position: 384px 64px;
    }
    to {
        background-position: 0px 64px;
    }
}

@keyframes play_bow_left {
    from {
        background-position: 832px 192px;
    }
    to {
        background-position: 0px 192px;
    }
}